@import url('http://fonts.googleapis.com/css?family=Roboto');

body{
    font-family: 'Roboto', sans-serif;
    background: rgb(197, 211, 212);
    background-size: cover;   
}

.container{
    margin-top: 0;
}

h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 5%;
    margin-bottom: 2%;
    text-shadow: 2px 8px 9px #000000;
}

#sidebar {
    margin-top: 0%;
    width: 20%;
    height: 100vh; 
    background: #09384b8c;
}

.list-group-item:hover{
    background-color:  #06334bcb;
}

.list-group-item{
    background-color: #09384b8c;
}

.p-2{
    background: #06334bcb;
    text-align: center;
    height: 9%; 
    padding: 0;
}

.nombre{
    background: #06334bcb;
    height: 4%;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.menu-principal{
    background: #6e98afcb;
    padding-top: 5px;
    height: 6%;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 2px 8px 9px #000000; 
}

.list-group-item{
    background: #08364700;
    border: 0ch;
}

.nav-link:hover{
    background:#06334bcb;
}

button.btn{
    background-color: #4e7488cb;
    border-bottom: 5px solid #084b66;
    border-radius: 12px;
    box-shadow: 6px 6px 6px #999;
    color: #fff;
    cursor: pointer;
    display: block;  
    font-family: 'Raleway', Arial, Helvetica;
    font-size: 14px;
    text-align: center;
    transition: all 0.2s ease 0s;
}

.button.btn:hover{
    background: #36978a;
}

button.btn.mb-2{
    background-color: #4e7488cb;
    margin-top: 3%;
}

table, tr, th{
    border-bottom: 2px solid #084b66;
}

footer{
    background-color: #042031f1;
}

.modal-header{
    background-color: #507483;
}

#nav-cursos{
    background-image: url(img/pizarra-cursos.jpg);
    background-size: cover;
    border-radius: 8px;
}


#nav-estudiantes{
    
    background-image: url(img/pizarra-cursos.jpg);
    
    background-size: cover; 
    border-radius: 8px;      
}


#listado-estudiantes{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 3px 2px 3px #f0eeee;
}

label{
    font-size: 20px;
    font-family: 'Roboto';
}

#editar{
    color: rgb(142, 199, 214);
    text-shadow: 4px 3px 4px #313030;
}

#fondo-editar{
    background-color: rgba(98, 158, 158, 0.842);
    border-radius: 8px;
}

#icon-buscar{
    background-color: rgba(15, 52, 63, 0.39);
    border-radius: 2px;
}

