<!DOCTYPE html>
<html lang="es" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{default.html}">

<head>
    <title>Cursos</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style-add-student.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
    <!-- The navbar -->
    <div class="d-flex">
        <div id="sidebar">
            <div class="p-2">
                <a class="navbar-brand text-center text-light w-100 p-0"><img th:src="@{/images/logo.png}" alt="Logo"
                        tyle="width:90px;"></a>
            </div>
            <div class="nombre p-2">
                <a class="navbar-brand text-center text-light w-100 p-0 text-uppercase">addnotes</a>
            </div>
            <div class="menu-principal p-2">
                <a class="navbar-brand text-center text-light w-100 p-0 text-uppercase mr-2">Menú</a>
            </div>
            <div id="sidebar-accordion" class="accordion">
                <div class="list-group">
                    <a class="nav-link text-light" th:href="@{/ver-cursos}">
                        <i class="fa fa-graduation-cap mr-3 mb-3 mt-2"></i>Cursos
                    </a>
                    <a th:href="@{/ver-alumnos}" class="nav-link  text-light">
                        <i class="fa fa-users mr-3 mb-3 mt-2"></i>Estudiantes
                    </a>
                    <a th:href="@{/ver-trimestres}" class="nav-link text-light">
                        <i class="fa fa-sticky-note mr-3 mb-3 mt-2"></i>Notas
                    </a>
                    <a href="#profile-items" data-toggle="collapse" aria-expanded="false"
                        class="nav-link list-group-item text-light">
                        <i class="fa fa-adjust mr-3 mb-3 mt-2"></i>Temas
                    </a>
                    <div id="profile-items" class="collapse" data-parent="#sidebar-accordion">
                        <a id="trigger" class="list-group-item list-group-item-action text-light">
                            Tema summer mode
                        </a>
                        <a id="dark-mode" class="list-group-item list-group-item-action text-light">
                            Tema dark mode
                        </a>
                        <a id="temaOri" class="list-group-item list-group-item-action text-light">
                            Tema original
                        </a>
                    </div>
                </div>
            </div>
            <a th:href="@{/home}" class="nav-link  text-light">
                <i class="fa fa-power-off mr-3 mb-3 mt-2"></i>Cerrar sesión
            </a>
        </div>

        <!--Script para cambiar a tema claro-->
        <script th:inline="javascript">

            /*<![CDATA[*/

            document.getElementById("trigger").onclick = function () {
                var changeCss = /*[[@{/css/styles-theme1.css"}]]*/ "tema-original";
            };
            /*]]>*/
        </script>

        <!--Script para cambiar a tema oscuro-->
        <script th:inline="javascript">
            document.getElementById("dark-mode").onclick = function () {
                document.getElementById("tema-original").href = "../static/css/styles-theme-dark.css";
            };
        </script>

        <!--Script para cambiar a tema original-->
        <script>
            document.getElementById("temaOri").onclick = function () {
                document.getElementById("tema-original").href = "../static/css/style-add-student.css";
            };
        </script>

        <!--Tabla de cursos-->
        <div class="container">
            <div class="col-md-12">
                <nav id="nav-cursos" class="nav-cursos navbar navbar-light text-light mx-auto mt-3">
                    <h2 class="mx-auto text-uppercase" style="font-size:50px">Listado de cursos</h2>
                </nav>
                <form class="form-inline mt-5">
                    <input class="form-control mr-sm-2 light-table-filter" data-table="order-table" type="search"
                        placeholder="Buscar curso" aria-label="Search">
                    <button class="btn my-2 my-sm-0" type="submit">Buscar</button>
                </form>
                <button class="btn mb-2" data-toggle="modal" data-target="#modalNuevoCurso" data-placement="right"
                    title="Agregar un nuevo curso">Nuevo</button>
                <div class="table-responsive">
                    <form th:object="${curso}">
                        <table id=estilos class="table table-bordered table-hover table-striped order-table">
                            <thead class="thead-dark">
                                <tr>
                                    <th class="text-uppercase">Nombre</th>
                                    <th class="text-uppercase">Sección</th>
                                    <th class="text-uppercase">Editar</th>
                                    <th class="text-uppercase">Eliminar</th>
                                    <th class="text-uppercase">Ver alumnos</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="curso : ${cursos}">
                                    <input type="hidden" th:field="*{id}">
                                    <td th:text="${curso.nombre}" th:field="*{nombre}"></td>
                                    <td th:text="${curso.seccion}" th:field="*{seccion}">/td>
                                    <td>

                                        <a th:href="@{'/edit/'+${curso.id}}">
                                            <button type="button" class="btn"><i class="fa fa-pencil-square-o"
                                                    aria-hidden="true"></i> Editar</button>
                                        </a>

                                    </td>
                                    <td>
                                        <form th:action="@{'/delete/' +${curso.id}}" method="post">
                                            <button type="submit" class="btn"><i
                                                    class="fa fa-trash"></i>Eliminar</button>
                                        </form>

                                    </td>
                                    <td>
                                        <a th:href="@{'/ver-cursos/alumnos/'+ ${curso.id}}">
                                            <button type="button" class="btn"><i class="fa fa-users"></i>Ver
                                                alumnos</button>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal para agregar un nuevo curso -->
    <div class="modal" id="modalNuevoCurso">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h5 class="modal-title">Agregar curso</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <!-- Modal body -->
                <form th:action="@{/save}" method="post" th:object="${curso}">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="nombre">Nombre</label>
                            <input type="text" class="form-control" placeholder="Nombre de estudiante" required=""
                                th:field="*{nombre}">
                        </div>
                        <div class="form-group">
                            <label for="nombre">Sección</label>
                            <input type="text" class="form-control" placeholder="Apellido de estudiante" required=""
                                th:field="*{seccion}">
                        </div>
                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button class="btn btn-dark" type="submit">Guardar</button>
                            <button class="btn btn-dark" type="button" data-dismiss="modal">Cancelar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <footer class="page-footer font-small">
        <div class="footer-copyright text-center py-3 text-light"> 2020 Addnotes
            <img th:src="@{/images/logo.png}" alt="Logo" style="width:50px;">
        </div>
    </footer>

    <!-- Script para buscador de alumnos-->
    <script type="text/javascript">
        (function (document) {
            'use strict';

            var LightTableFilter = (function (Arr) {

                var _input;

                function _onInputEvent(e) {
                    _input = e.target;
                    var tables = document.getElementsByClassName(_input.getAttribute('data-table'));
                    Arr.forEach.call(tables, function (table) {
                        Arr.forEach.call(table.tBodies, function (tbody) {
                            Arr.forEach.call(tbody.rows, _filter);
                        });
                    });
                }

                function _filter(row) {
                    var text = row.textContent.toLowerCase(), val = _input.value.toLowerCase();
                    row.style.display = text.indexOf(val) === -1 ? 'none' : 'table-row';
                }

                return {
                    init: function () {
                        var inputs = document.getElementsByClassName('light-table-filter');
                        Arr.forEach.call(inputs, function (input) {
                            input.oninput = _onInputEvent;
                        });
                    }
                };
            })(Array.prototype);

            document.addEventListener('readystatechange', function () {
                if (document.readyState === 'complete') {
                    LightTableFilter.init();
                }
            });

        })(document);
    </script>
    <!--Scripts bootstrap-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>