<!DOCTYPE html>
<html lang="es" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <title>Estudiantes</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style-add-student.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
    <!-- The navbar -->
    <div class="d-flex">
        <div id="sidebar">
            <div class="p-2">
                <a class="navbar-brand text-center text-light w-100 p-0"><img th:src="@{/images/logo.png}" alt="Logo"
                        tyle="width:90px;"></a>
            </div>
            <div class="nombre p-2">
                <a class="navbar-brand text-center text-light w-100 p-0 text-uppercase">addnotes</a>
            </div>
            <div class="menu-principal p-2">
                <a class="navbar-brand text-center text-light w-100 p-0 text-uppercase mr-2">Menú</a>
            </div>
            <a class="nav-link  text-light" th:href="@{/home}">
                <i class="fa fa-power-off mr-3 mb-3 mt-2"></i>Cerrar sesión
            </a>
        </div>

        <!--Tabla de estudiantes-->
        <div class="container">
            <div class="col-md-12">
                <nav id="nav-estudiantes" class="nav-cursos navbar navbar-light text-light mx-auto mt-3">
                    <h2 class="mx-auto text-uppercase">Listado de estudiantes</h2>
                </nav>
                <div th:if="${mensaje != null}" class="alert alert-primary mt-5" role="alert">
                    <p th:text="${mensaje}"></p>
                </div>
                <div class="alert alert-danger mr-sm-2" role="alert" th:text="${error}" th:if="${error != null}"></div>
                <form class="form-inline mt-5">
                    <input class="form-control mr-sm-2 light-table-filter" data-table="order-table" type="search"
                        placeholder="Buscar alumno" aria-label="Search">
                    <button class="btn my-2 my-sm-0" type="submit">Buscar</button>
                </form>
                <button class="btn mb-2" data-toggle="modal" data-target="#modalAgregarEstudiante"
                    data-placement="right" title="Agregar un nuevo alumno">Nuevo</button>
                <form th:object="${student}">
                    <div class="table-responsive">
                        <table id=estilos class="table table-bordered table-hover table-striped order-table">
                            <thead class="thead-dark">
                                <tr>
                                    <th class="text-uppercase">Nombre</th>
                                    <th class="text-uppercase">Apellido</th>
                                    <th class="text-uppercase">DNI</th>
                                    <th class="text-uppercase">Editar</th>
                                    <th class="text-uppercase">Eliminar</th>
                                    <th class="text-uppercase">Notas</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="student : ${students}">
                                    <input type="hidden" th:field="*{id}">
                                    <td th:text="${student.nombre}" th:field="*{nombre}"></td>
                                    <td th:text="${student.apellido}" th:field="*{apellido}"></td>
                                    <td th:text="${student.DNI}" th:field="*{DNI}"></td>
                                    <td>
                                        <a th:href="@{'/edit_students/'+${student.id}}">
                                            <button type="button" class="btn"><i class="fa fa-pencil-square-o"
                                                    aria-hidden="true"></i> Editar</button>
                                        </a>
                                    </td>
                                    <td>
                                        <form th:action="@{'/delete-student/' + ${id_curso}}" method="post">
                                            <input type="hidden" name="id" th:value="${student.id}" />
                                            <button type="submit" class="btn"><i class="fa fa-trash"></i>
                                                Eliminar</button>
                                        </form>

                                    </td>
                                    <td>
                                        <a th:href="@{'/ver-trimestres/'+ ${student.id}}">
                                            <button type="button" class="btn"><i class="fa fa-book"
                                                    aria-hidden="true"></i> Resumen de notas</button>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Modal para agregar un nuevo estudiante -->
    <div class="modal" id="modalAgregarEstudiante">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h5 class="modal-title text-uppercase"><i class="fa fa-users mr-3 mb-3 mt-2"></i>Agregar estudiante
                    </h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <!-- Modal body -->
                <form th:action="@{'/save-student/'+ ${id_curso}}" method="post" th:object="${student}">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="nombre">Nombre</label>
                            <input type="text" class="form-control" placeholder="Nombre de estudiante" required=""
                                th:field="*{nombre}">
                        </div>
                        <div class="form-group">
                            <label for="nombre">Apellido</label>
                            <input type="text" class="form-control" placeholder="Apellido de estudiante" required=""
                                th:field="*{apellido}">
                        </div>
                        <div class="form-group">
                            <label for="nombre">Dni</label>
                            <input type="text" class="form-control" placeholder="Ej: 67005409V" required=""
                                th:field="*{DNI}">
                        </div>
                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button class="btn btn-secondary" type="submit">Guardar</button>
                            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <footer class="page-footer font-small">
        <div class="footer-copyright text-center py-3 text-light"> 2020 Addnotes
            <img th:src="@{/images/logo.png}" alt="Logo" style="width:50px;">
        </div>
    </footer>

    <!--Scripts bootstrap-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <!-- Script para buscador de alumnos-->
    <script type="text/javascript">
        (function (document) {
            'use strict';

            var LightTableFilter = (function (Arr) {

                var _input;

                function _onInputEvent(e) {
                    _input = e.target;
                    var tables = document.getElementsByClassName(_input.getAttribute('data-table'));
                    Arr.forEach.call(tables, function (table) {
                        Arr.forEach.call(table.tBodies, function (tbody) {
                            Arr.forEach.call(tbody.rows, _filter);
                        });
                    });
                }

                function _filter(row) {
                    var text = row.textContent.toLowerCase(), val = _input.value.toLowerCase();
                    row.style.display = text.indexOf(val) === -1 ? 'none' : 'table-row';
                }

                return {
                    init: function () {
                        var inputs = document.getElementsByClassName('light-table-filter');
                        Arr.forEach.call(inputs, function (input) {
                            input.oninput = _onInputEvent;
                        });
                    }
                };
            })(Array.prototype);

            document.addEventListener('readystatechange', function () {
                if (document.readyState === 'complete') {
                    LightTableFilter.init();
                }
            });

        })(document);
    </script>
</body>

</html>